#Thu May 04 11:26:20 CEST 2017
ui.overview_graph.width=557
updatechecker.last_check=1493888813
ui.overview.width=342
eula.accepted=3
ui.main_window.width=1436
ui.main_window.extended_state=6
ui.main_window.height=877
ui.recent_crawl_1=https\://www.ursapharm.de
ui.recent_crawl_0=https\://bgm.ikk-suedwest.de/
updatechecker.lastest_version=7.2
ui.masterdetail.location=492
ui.main_window.y=23
ui.main_window.x=4
